<div class="container">

	<h1>Welcome to the Blog!</h1>

	<div class="jumbotron">
		
		<button type="button" class="btn btn-warm btn-lg"><a href="posts/new">Post New</a></button>

		<div class="row">
			
			<% @posts.each do |post| %>
				<div class="col-md-6">
					<h2> <%= post.title %> </h2>
					<p> <%= post.author %> </p>
					<button type="button" class="btn btn-warm" style="color:black;"><a href="/posts/<%= post.id %>" style="text-decoration:none">See Post</a></button>
				</div>

			<% end %>

		</div>

	</div>

