<form action="/posts" method="post">
	<input type="text" name="post[title]" placeholder="Enter Title" autofocus>
	<input type="text" name="post[author]" placeholder="Enter Name">
	<textarea type="text" name="post[description]" placeholder="Type away!"></textarea>
	<input type="text" name="tag[name]" placeholder="tag me: ie. happy, sad, etc">
	<input type="hidden" name="post_tag[date]" value="<%= Time.now %>"
	<%= token_tag form_authenticity_token %>

	<button>Save</button>
</form>